@import "tailwindcss";

/* Estilos globales personalizados, por ejemplo: */
html, body {
  font-family: system-ui, sans-serif;
  background-color: theme("colors.gray.50");
  color: theme("colors.gray.800");
}